{% extends 'base.html' %}

{% block content %}

    <h1>URL</h1>

    {{ request.url }}

    
    <h1>Заголовки запроса</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Значение</th>
            </tr>
        </thead>
        <body>
            {% for name, value in request.args.items() %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </body>
    </table>

{% endblock %}